{% extends 'base_w.html' %}

{% block content %}
<div class="container">
  <h3>Products</h3>
  <table id="simple-table" class= "table table-borderless">
    {% for pl in pl1 %}
    <tr>
      <td style='width:30%;text-align:left'>
        <a href="/w/w_productListings_index/?pId={{pl.id}}">{%if pl.pimg %}<img src="{{pl.pimg.url}}" width="300" height="200" alt="">{%endif%}</a>
      </td>
      <td>
        <table class="table table-borderless">
          <tr>
            <th><a href="/w/w_productListings_index/?pId={{pl.id}}">{{pl.pId}}</a></th><td></td><td></td><td></td>
            <td style='text-align:right;'>Rs.{{pl.s_price}}</td>
          </tr>
          <tr>
            <td>Seller - {{pl.uName}}</td><td></td><td></td><td></td>
            <!-- <td style='text-align:right;'><a href="/productListings_index/?pId={{pl.id}}">Buy</a></td> -->
          </tr>
        </table>
      </td>
    </tr>
    {%endfor%}
  </table>

  </div>
  {% endblock %}
