{% extends 'base_trial.html'%}


{%block content%}
<h3 class='col-md-8'><a href="/admin_dashboard/">Admin Dashboard</a></h3>
<!-- <div class="row">
  <div class="col-sm-6">
    <div class="card w-100">
      <h5 class="card-header text-center">Wholesaler</h5>
      <a href="/w/" class="btn btn-primary">Go</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card w-100">
      <h5 class="card-header text-center">Retailer</h5>
      <a href="/r/" class="btn btn-primary">Go</a>
    </div>
  </div>
</div> -->


<!-- <h3 class='col-md-8'><a href="/w/">Wholesaler Page</a></h3>
<h3 class='col-md-8'><a href="/r/">Retailer Page</a></h3> -->
{%endblock%}
